.footer {
  background-color:dimgray;
  color: white;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: $m-size;
  text-align: center;
  width: 398px;
  padding: $s-size 0;
  // margin: auto;
}